{% extends "::base.html.twig" %}


{% block body %}
    <header>        
        <nav class="navbar navbar-default navbar-fixed-top rb-navbar" role="navigation">
            <div class="container">                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('redbear_homepage') }}">RedBear</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('redbear_shop') }}">Shop</a></li>
                        <li><a href="{{ path('redbear_blog') }}">Blog</a></li>
                    </ul>
                    <ul class="navbar-form navbar-right" role="search">
                        <button type="button" class="btn btn-default" id="cartbutton" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" title="Cart">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="simpleCart_quantity"></span> items -
                            <span class="simpleCart_total"></span>
                        </button>
                    </ul>
                </div>
            </div>
        </nav>  
    </header>
        
    <body>       
        <div id="cart_content_wrapper" style="display: none" class="col-md-5">
            <div class="simpleCart_items"></div>
            <a href="javascript:;" class="simpleCart_empty"></a>
            <a href="javascript:;" class="simpleCart_checkout">Checkout</a>
        </div>
        {% block content %}{% endblock %}
    </body>
{% endblock %}

