{% extends "RedbearShopBundle::layout.html.twig" %}

{% block content %}
	<div class="container">
		<p>some content</p>
		<div class="row">
		  	<div class="col-md-3">
		    	<a href="#" class="thumbnail">
		      		<img src="{{ asset('images/hyene-1257455213.jpg') }}" alt="...">
		    	</a>
		  	</div>
		  	<div class="col-md-3">
		    	<a href="#" class="thumbnail">
		      		<img src="{{ asset('images/hyene-1257455213.jpg') }}" alt="...">
		    	</a>
		  	</div>
		  	<div class="col-md-3">
		    	<a href="#" class="thumbnail">
		      		<img src="{{ asset('images/hyene-1257455213.jpg') }}" alt="...">
		    	</a>
		  	</div>
		  	<div class="col-md-3">
		    	<a href="#" class="thumbnail">
		      		<img src="{{ asset('images/hyene-1257455213.jpg') }}" alt="...">
		    	</a>
		  	</div>
		</div>
	</div>
{% endblock %}