{% extends "RedbearShopBundle::layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="rb-header">
			<div class="row">
				<div class="col-md-12">
					<p>Examples for selection, modal or page</p>
				</div>
			</div>
		</div>
		<div class="rb-content"> 
			<div class="row">
			  	<div class="col-md-3">
			    	<a href="#" class="thumbnail">
			      		<img src="{{ asset('images/hyene-1257455213.jpg') }}" alt="...">
			    	</a>
			  	</div>
			  	<div class="col-md-3">
			    	<a href="#" class="thumbnail">
			      		<img src="{{ asset('images/hyene-1257455213.jpg') }}" alt="...">
			    	</a>
			  	</div>
			  	<div class="col-md-3">
			    	<a href="#" class="thumbnail">
			      		<img src="{{ asset('images/hyene-1257455213.jpg') }}" alt="...">
			    	</a>
			  	</div>
			  	<div class="col-md-3">
			    	<a href="#" class="thumbnail">
			      		<img src="{{ asset('images/hyene-1257455213.jpg') }}" alt="...">
			    	</a>
			  	</div>
			</div>
		</div>
	</div>
{% endblock %}