{% extends "RedbearShopBundle::layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="rb-header">
			<div class="row">
				<div class="col-md-12">
					<p>Examples for selection, modal or page</p>
				</div>
			</div>
		</div>

		<div class="rb-content"> 
			<div class="row">
			  	<div class="col-md-3">
			    	<a href="#" class="thumbnail">
			      		<img src="{{ asset('images/hyene-1257455213.jpg') }}" alt="...">
			    	</a>
			    	<div class="simpleCart_shelfItem">
					  	<h2 class="item_name"> Awesome T-shirt </h2>
						<p>  
							<input type="text" value="1" class="item_Quantity"><br>
					  		<span class="item_price">35.99</span><br>
					  		<a class="item_add" href="javascript:;"> Add to Cart </a>
					  	</p>
					</div>
			  	</div>
			  	<div class="col-md-3">
			    	<a href="#" class="thumbnail">
			      		<img src="{{ asset('images/hyene-1257455213.jpg') }}" alt="...">
			    	</a>
			  	</div>
			  	<div class="col-md-3">
			    	<a href="#" class="thumbnail">
			      		<img src="{{ asset('images/hyene-1257455213.jpg') }}" alt="...">
			    	</a>
			  	</div>
			  	<div class="col-md-3">
			    	<a href="#" class="thumbnail">
			      		<img src="{{ asset('images/hyene-1257455213.jpg') }}" alt="...">
			    	</a>
			  	</div>
			</div>
		</div>
	</div>
{% endblock %}